@model Laboration.Models.Person

<h1>@Model.FirstName @Model.LastName</h1>
<a class="create-btn" asp-area="" asp-controller="Person" asp-action="Persons">Back</a>

<table class="table mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Kön</th>
            <th>Ålder</th>
            <th>Maträtter</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.PersonID</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Gender</td>
            <td>@Model.Age</td>
            <td>
                @if (Model.PersonDishes != null && Model.PersonDishes.Count > 0)
                {
                    <ul>
                        @foreach (var pd in Model.PersonDishes)
                        {
                            <li>@pd.Dish?.DishName</li>
                        }
                    </ul>
                }
                else
                {
                    <span>No dishes assigned.</span>
                }
            </td>
        </tr>
    </tbody>
</table>
