@model IEnumerable<Laboration.Models.Person>

@{
    ViewData["Title"] = "Details";
}

<h1>Persons</h1>
<a class="create-btn" asp-area="" asp-controller="Person" asp-action="Persons">Back</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonDishes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PersonDishes)
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Person" asp-action="Details">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>