@using Microsoft.AspNetCore.SignalR.Protocol
@model IEnumerable<Laboration.Models.Person>

@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>
<a class="create-btn" asp-area="" asp-controller="Person" asp-action="Create">Create new</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Person" asp-action="Details" asp-route-id="@item.PersonID">Details</a>
            </td>
            <td>
                <a class="nav-link text-dark" asp-controller="Person" asp-action="Delete" asp-route-id="@item.PersonID" class="text-danger">
                    Delete
                </a>
            </td>

        </tr>
}
    </tbody>
</table>